body {
  background-image: url(../../assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html {
    background-image: url(../../assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
      background-attachment: fixed;

  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.post-card {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}